.login{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 600px;
  flex-direction: column;
  width: 100%;
  background-color:rgb(255, 255, 255);
  height: 650px;
  margin-top: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 100px rgba(255, 255, 255, 0.661);
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
    .loginbtn{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
}

/* .container{
  height: 100vh;
  margin: auto;
  max-width: 400px;
} */
.wallet{
  text-align: center;
  margin-top: 10px;
  color: white;
  margin: auto;
}
.header{

 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 10;
 .paragraph{
  color: gray;
  margin-bottom: 50px;
 }}

 .bargroup{

  display: flex;
  flex-direction: column;
  padding: 30px;
.label{
margin-bottom: 5px;
margin-top: 5px;
font-size: 12px;
margin-left: 5px;

}
margin-bottom: 50px;

}
.bar{
  border-radius:8px;
  background-color: #00000016;
  border: none;
  padding: 15px;


}
.bar:focus{
  outline:none;
 
}

.signupLink{
  margin: auto;
  margin-top: 20px;
} 




.container{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 600px;
  flex-direction: column;
width: 100%;
  background-color:rgb(255, 255, 255);
  height: 650px;
  margin-top: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 100px rgb(173, 173, 173);
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  /* .signupbtn{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  } */

  
  margin-top: 10px;
  text-align: center;
}
.error{
  color: rgba(255, 0, 0, 0.634);
  font-size: 14px;
  padding: 3px;
  
}
.signup{
  text-decoration: underline;
}