
.container{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 600px;
  flex-direction: column;
width: 32%;
  background-color:rgba(156, 156, 156, 0.274);
  height: 600px;
  margin-top: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 10px ;
  margin-right: auto;
  margin-left: auto;
  
}
.header{
background: teal;
text-align: center;
padding: 20px;
border-radius: 8px;
}
.bargroup{
margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;

}

.bar{
  border-radius: 8px;
  background-color: #ffffff;
border: navajowhite;
padding: 26px;
height: 10px;
}

.loginbtn{
  
    text-align: center;
}

.signupLink{
  margin: auto;
  margin-top: 20px;
} 




.container{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 600px;
  flex-direction: column;
width: 100%;
  background-color:rgb(255, 255, 255);
  height: 650px;
  margin-top: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 100px rgb(173, 173, 173);
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  /* .signupbtn{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  } */

  
}