/* 
.container{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 600px;
  flex-direction: column;
width: 32%;
  background-color:rgba(156, 156, 156, 0.274);
  height: 600px;
  margin-top: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 10px ;
  margin-right: auto;
  margin-left: auto;
  
}
.header{
background: teal;
text-align: center;
padding: 20px;
border-radius: 8px;
}
.bargroup{
margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;

}

.bar{
  border-radius: 8px;
  background-color: #ffffff;
border: navajowhite;
padding: 26px;
height: 10px;
}

.loginbtn{
  
    text-align: center;
}

.signupLink{
  margin: auto;
  margin-top: 20px;
} */




/* .container{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 600px;
  flex-direction: column;
width: 100%;
  background-color:rgb(255, 255, 255);
  height: 650px;
  margin-top: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 100px rgb(173, 173, 173);
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px; */
  /* .signupbtn{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  } */

  

/* 
.login{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 600px;
  flex-direction: column;
  width: 100%;
  background-color:rgb(193, 74, 74);
  height: 650px;
  margin-top: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 100px rgba(255, 255, 255, 0.661);
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
    .loginbtn{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
}

.container{
  height: 100vh;
  margin: auto;
  max-width: 400px;
}
.wallet{
  text-align: center;
  margin-top: 10px;
  color: white;
  margin: auto;
}
.header{

 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 10;
 .paragraph{
  color: gray;
  margin-bottom: 50px;
 }}

 .bargroup{

  display: flex;
  flex-direction: column;
  padding: 30px;
.label{
margin-bottom: 5px;
margin-top: 5px;
font-size: 12px;
margin-left: 5px;

}
margin-bottom: 50px;

}
.bar{
  border-radius:8px;
  background-color: #00000016;
  border: none;
  padding: 15px;


}
.bar:focus{
  outline:none;
 
}

.signupLink{
  margin-top: 10px;
  text-align: center;
}
.error{
  color: rgba(255, 0, 0, 0.634);
  font-size: 14px;
  padding: 3px;
  
}
.signup{
  text-decoration: underline;
} */









.login{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: rgba(255, 255, 255, 0.822);
  justify-content: center;
  padding: 20px;
width: 400px;
  height: 800px;
  border-radius: 8px;
  box-shadow: 3px 3px 100px rgba(255, 255, 255, 0.661);
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
}

.bargroup{
margin-top: 20px;

}

.bar{
  border-radius:8px;
  background-color: #00000016;
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  padding-left: 40px;

}

.label{
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  text-align: left;
}
.wallet{
  text-align: center;
  margin-top: 10px;
  color: white;
  margin: auto;
  

}

.header{
text-align: center;
margin-bottom: 30px;
margin-top: 40px;

}


.iconContainer{
  display: flex;
  align-items: center;
}
.loginbtn{
margin-bottom: 30px;
margin-top: 20px;

}
.signupLink{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}


.alert{
  background-color: rgba(255, 0, 0, 0.274);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.paragraph{
  color: gray;
  margin-bottom: 50px;
}   

.loading{
 background-color: none;
 text-align: center;
}