.container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  
  flex-direction: column;
 
}



.input{
 width: 400px;
 height: 45px;
 margin: 10px;
 border-radius: 4px ;
 border:  none;
padding: 10px;
}
.innerContainer{

  display: flex;
  justify-content: center;
  height: 500px;
  box-shadow: 1px 1px 5px;
margin: auto;
width: 450px;
background-color: rgba(169, 169, 169, 0.34);
border-radius: 8px;
flex-direction: column;

}
.header{
margin: auto;
color: rgba(46, 5, 253, 0.623);
margin-top: 60px;
}

.form{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 60px;
}

.options{
  display: inline;
}