.container{
 display: flex;
 justify-content: center;
 padding: 60px;


}

.modal{
/* display: block; */
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer{
  background: rgb(17, 184, 255);
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 12px;
  margin-top: 20px;
  
}
.innerContent{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input{
 width: 400px;
 height: 45px;
 margin: 10px;
 border-radius: 4px ;
 border:  none;
padding: 10px;

}
.item{
  background: white;
  margin: 10px;
padding: 10px;
border-radius: 7px;
position: relative;
}
.btnOne{
  position: absolute;
  right: 50;
  top: 20;
  
}
.btnTwo{
  position: absolute;
  right: 15;
  top: 20;
}



.iconscontainer{
  background: rgba(0, 3, 0, 0.627);
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 80px;
border-radius: 8px;
}

.icons{
  margin: auto;

  width:80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  align-items: baseline;
}

.cancel{
  position: absolute;
  right: 5;
  top: 5;
}
.paragraph{
  color: white;
  position:fixed;
  top: 200;
}

