/* .container{
 display: flex;
 justify-content: center;
 padding: 60px;


}

.modal{
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer{
  background: rgb(17, 184, 255);
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 12px;
  margin-top: 20px;
  
}
.innerContent{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input{
 width: 400px;
 height: 45px;
 margin: 10px;
 border-radius: 4px ;
 border:  none;
padding: 10px;

}
.item{
  background: white;
  margin: 10px;
padding: 10px;
border-radius: 7px;
position: relative;
}
.btnOne{
  position: absolute;
  right: 50;
  top: 20;
  
}
.btnTwo{
  position: absolute;
  right: 15;
  top: 20;
}



.iconscontainer{
  background: rgba(0, 3, 0, 0.627);
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 80px;
border-radius: 8px;
}

.icons{
  margin: auto;

  width:80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  align-items: baseline;
}

.cancel{
  position: absolute;
  right: 5;
  top: 5;
}
.paragraph{
  color: white;
  position:fixed;
  top: 200;
}
 */


 body{
  /* background: linear-gradient(45deg, #ffffff, #5a93f7); */
  /* font-family: Arial, Helvetica, sans-serif; */
  
  /* margin: 1%; */
  /* padding-left: 40px;
  padding-right: 40px ; */
}

.container{
 display: flex;
 justify-content: center;
 padding: 10px;
width: 98%;
background: white;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
border-radius: 8px;
margin-bottom: 100px;
background: lightgray;
}

.modal{
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer{
  background: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 300px;
border-radius: 8px;
padding-top: 20px;
position: relative;
}
.innerContent{
  margin: auto;
  display: flex;
  flex-direction: column;
 
}

.input{
 /* width: 250px;
 height: 40px;
 margin: 10px;
 border-radius: 4px ;
 border:  none;
padding: 10px; */
 height: 40px;
 margin: 10px;
 border-radius: 4px ;
 border:  1px solid;
 background:lightgray;
padding: 10px;

}

.item{
  display:flex;
  
padding: 12px 16px;
  background: white;
height: auto;
  /* align-items: center; */
font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  margin:10px;
  /* padding-left:20px; */
justify-content:space-between;
}
/* .item{
  background: white;
  margin: 10px;
padding: 10px;
border-radius: 7px;
position: relative;
background-color: #f3f3f3;
display: flex;
height: 100px;
justify-content: space-between;
  padding-left:40px ;
  align-items: center;
  padding-right:40px;
  font-size: 18px;
  font-weight: bold;

} */
.item:hover{
transform:scaleX(1.02) ;
transition: .3s ease;
box-shadow: 1px 1px 5px gray;
}
/* .btnOne{
  position: absolute;
  right: 80;
  top: 30;
  border: none;

}
.btnOne, .btnTwo{
  cursor: pointer;
  background: orange;
  border-radius: 8px;
} */
/* .btnTwo{
  position: absolute;
  right: 30;
  top: 30;
  border: none;
} */


.iconscontainer{
  
  background: #3e71ff;
  /* width: 300px; */
  height: 300px;
  display: flex;
  position: relative;
  margin: auto;
  
  margin-top: 300px;
border-radius: 8px;
}

.icons{
  margin: auto;

  width:80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  align-items: baseline;
}

.cancel{
  position: absolute;
  right: 5;
  top: 5;
}
.paragraph{
  color: white;
  position:fixed;
  top: 400;
  
}

.header{

  background: #2563EB;
  color: white;

  text-align: center;
  margin: auto;
  border-radius: 8px;
  height: 100px;
  padding-top: 30px;

}
 
.innerContainer{
  
  width: 100%;
  border-radius: 8px;
}
.tableHead, .item{
  display:grid;
  grid-template-columns: repeat(3, 0fr) ;
  gap:12px;
  align-items: center;

}
.tableHead{
  font-size:24px;
  font-weight:bold;
  padding:12px 40px;
  display:flex;
  justify-content: space-between;
}
/* 
.tableHead{
  display: flex;
  background: rgba(128, 128, 128, 0.312);
  justify-content: space-between;
  padding-left:40px ;
  padding-right: 420px ;
  height: 80px;
  border-radius: 8px;
  align-items: center;
  margin: 10px;
} */
.category{
  display: flex;
align-items: center; 
justify-content: start;

width: 200px;
/* margin-left: 80px; */
}

.icon{
  margin-right: 10px;
}

.amount{
  display: flex;
align-items: center; 
justify-content: start;
width: fit-content;
}
.amountContainer{
  width: 100px;
}

/* @media (max-width: 900px){ */
  /* .header{
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
  } */
/* body{
  padding: 10px;
} */
/* .container{

margin: auto;
width: 95%;
} */
   /* .tableHead{
    font-size: 14px;
    padding: 20px;
    padding-right: 200px;
    gap: 3px;
   }
   .btnOne,.btnTwo{
width: 50px;
height: 30px;  
 }
 .btnTwo{
  right: 20;
  top: 10;
 }
  .btnOne{
  right: 20;
  top: 50;
 } */

/* } */

/* @media (max-width: 800px){
  .tableHead{
    font-size:10px ;
    gap: 3px;
    padding-right: 250px;
  }
  .item{
    padding-right: 200px;
    font-size: 12px;
    padding-left: 20px;
    gap: 10;
  }
  .category{
    margin: 0;
  }
  .innerContainer{
    text-align: center;
  }

} */
/* @media (min-width: 900px){
  .btnOne, .btnTwo{
    padding: 10px;
  }
  .header{
    width: 100%;
  }
} */

.btn{
  display:flex;
  /* flex-direction: column; */
  gap:12;
  /* margin-left:auto; */
}

