body{
  background: linear-gradient(45deg, #ffffff, #5a93f7);
  background-repeat: no-repeat;
  
  padding-left: 40px;
  padding-right: 40px ;
}

.container{
 display: flex;
 justify-content: center;
 padding: 10px;
width: 90%;
background: white;
margin: auto;
margin-top: 20px;
border-radius: 8px;
margin-bottom: 100px;
background-size: contain;

}

.modal{
/* display: block; */
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer{
  background: rgba(0, 3, 0, 0.627);
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 150px;
border-radius: 8px;
padding-top: 20px;
position: relative;
}
.innerContent{
  margin: auto;
  display: flex;
  flex-direction: column;
 
}

.input{
 width: 250px;
 height: 40px;
 margin: 10px;
 border-radius: 4px ;
 border:  none;
padding: 10px;

}
.item{
  background: white;
  margin: 10px;
padding: 10px;
border-radius: 7px;
position: relative;
background-color: #f3f3f3;
display: flex;
height: 100px;
justify-content: space-between;
  padding-left:40px ;
  padding-right: 200px ;
  align-items: center;
  font-size: 18px;
  font-weight: bold

}
.item:hover{
transform:scaleX(1.02) ;
transition: .3s ease;
box-shadow: 1px 1px 5px gray;
}
.btnOne{
  position: absolute;
  right: 80;
  top: 30;
  border: none;

}
.btnOne, .btnTwo{
  cursor: pointer;
  background: orange;
  padding: 10px;
  border-radius: 8px;
}
.btnTwo{
  position: absolute;
  right: 30;
  top: 30;
  border: none;
}



.iconscontainer{
  background: rgba(0, 3, 0, 0.627);
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 80px;
border-radius: 8px;
}

.icons{
  margin: auto;

  width:80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  align-items: baseline;
}

.cancel{
  position: absolute;
  right: 5;
  top: 5;
}
.paragraph{
  color: white;
  position:fixed;
  top: 200;
}

.header{
  color: white;
  background: linear-gradient(45deg, #0680c6, rgba(0, 255, 200, 0.801));
  text-align: center;
  width: 90%;
  margin: auto;
  border-radius: 8px;
  height: 100px;
  padding-top: 30px;

}
.innerContainer{
  
  width: 100%;
  border-radius: 8px;
}

.tableHead{
  display: flex;
  background: rgba(128, 128, 128, 0.312);
  justify-content: space-between;
  padding-left:40px ;
  padding-right: 200px ;
  height: 80px;
  border-radius: 8px;
align-items: center;
width: 98%;
margin: 10px;
}
.category{
  display: flex;
align-items: center; 
justify-content: start;

width: 200px;
margin-left: 80px;
}

.icon{
  margin-right: 10px;
}

.amount{
  display: flex;
align-items: center; 
justify-content: start;
width: fit-content;
}
.amountContainer{
  width: 100px;
}
