body {
  background-color: #FAF3E0; 
}

.signup{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 600px;
  flex-direction: column;
width: 32%;
  background-color:rgba(156, 156, 156, 0.274);
  height: 600px;
  margin-top: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 10px ;
  margin-right: auto;
  margin-left: auto;
  .signupbtn{

    text-align: center;
  }
  
}


.header{
  text-align: center;
  margin-bottom: -20px;
 
  
}
.bargroup{

  display: flex;
  flex-direction: column;
  padding: 40px;

}

.bar{
  border-radius: 8px;
  background-color: #ffffff;
border: navajowhite;
padding: 18px;
height: 1px;
}


.label{
margin-bottom: -3px;
}

.loginLink{
  margin-top: 20px;
  text-align: center;
}