/* 

.signup{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 600px;
  flex-direction: column;
width: 100%;
  background-color:rgb(255, 255, 255);
  height: 650px;
  margin-top: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 100px rgba(255, 255, 255, 0.661);
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  .signupbtn{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  
}
.login{
  text-decoration: underline;
}
.outer{
  height: 100vh;
  margin: auto;
  max-width: 400px;
}
.header{

 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 10;
 .paragraph{
  color: gray;
 }
}
.bargroup{

  display: flex;
  flex-direction: column;
  padding: 30px;
.label{
margin-bottom: 5px;
margin-top: 5px;
font-size: 12px;
margin-left: 5px;

}
}
.bar{
  border-radius:8px;
  background-color: #00000016;
  border: none;
  padding: 15px;


}
.bar:focus{
  outline:none;
 
}





.loginLink{
  margin-top: 10px;
  text-align: center;
}
.wallet{
  text-align: center;
  margin-top: 10px;
  color: white;
  margin: auto;
}

.error{
  color: rgba(255, 0, 0, 0.634);
  font-size: 14px;
  padding: 3px;
} */




.signup{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: rgba(255, 255, 255, 0.822);
  justify-content: center;
  padding: 20px;
width: 400px;
  height: 800px;
  border-radius: 8px;
  box-shadow: 3px 3px 100px rgba(9, 87, 233, 0.62);
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
}

.bargroup{
margin-top: 10px;

}

.bar{
  border-radius:8px;
  background-color: #00000016;
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.label{
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  text-align: left;
}
.wallet{
  text-align: center;
  margin-top: 10px;
  color: white;
  margin: auto;
}

.header{
text-align: center;
margin-bottom: 30px;

}

.paragraph{
  color: gray;
  margin: auto;
}

.iconContainer{
  display: flex;
  align-items: center;
}
.signupbtn{
margin-bottom: 30px;
margin-top: 20px;

}
.loginLink{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.error{
  color: rgba(255, 0, 0, 0.634);
  font-size: 14px;
  padding: 3px;
}
