.container{
  text-align: center;
  margin-top: 150px;
}
.totalSpent{
  margin-bottom: 50px;
  margin-top: 30px;
}

.categories{
  display: flex;
  border-radius: 3px;
 box-shadow: 1px 1px 5px;
 font-weight: bold;
  background-color: white   ;
  width: 35%;
  margin: auto auto 50px auto;
  height: 100px;

.span{
 
 padding-top: 20px;
 padding-bottom: 30px;
 background: #ffffff;
 border-radius: 8px;
 display: flex;
 padding-left: 30px;
 border: none;
 box-shadow: 0.1px 0.1px 5px gray ;
 .spanHeader{
  padding-top: 4px;
 }
 .spanPrice{
  
  font-size: 26px;
 }
 

 
}


}
.midSpan{
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  border-left: 1px solid rgba(128, 128, 128, 0.5);
}

.calender{
  margin: 15px auto;
  width: 35%;
  display: flex;
  justify-content: end;
  cursor: pointer;
}
/* .header{
  margin-right: 60%; 
  background: linear-gradient(90deg, rgba(50, 200, 20, 0.4)0%,rgba(224, 224, 15, 0.4) 50%, rgba(20, 146, 200, 0.4) 100% );
  width: 90%;
  height: 100px;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  padding-left: 90px;


}
.innerContainer{
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8;
}

.spanContent{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
}

.headerButtons{
  display: flex;
  justify-content: flex-end;
  gap: 10;
  margin-left:auto;
  
}

.toggle{
display: none;
background: none;
position: absolute;
right: 10;
top: 2;
color: white;
}
@media (min-width: 950px){
.span{
  width: 32%;
}
}

@media(max-width: 950px){

  .headerButtons{
    flex-direction: column;
    background-color: white;
    width: fit-content;
    margin-top: 220px;
    display: none;

  }
  .title{
    font-size: 20px;
  }
  .categories{
    flex-direction: column;
width: 100%;
height:500px ;
}
  .span{
    height: 150px;
    display: flex;
    align-items: center;
  }
  .toggle{
    display: block;
    font-size: 36px;
border: none;
background: none;
  }
.active{
  display: flex;
}
}

