/* .container{
  text-align: center;
  margin-top: 150px;
}
.totalSpent{
  margin-bottom: 50px;
  margin-top: 30px;
}

.categories{
  display: flex;
  border-radius: 3px;
 box-shadow: 1px 1px 5px;
 font-weight: bold;
  background-color: white   ;
  width: 35%;
  margin: auto auto 50px auto;
  height: 100px;

.span{
 
 padding-top: 20px;
 padding-bottom: 30px;
 background: #ffffff;
 border-radius: 8px;
 display: flex;
 padding-left: 30px;
 border: none;
 box-shadow: 0.1px 0.1px 5px gray ;
 .spanHeader{
  padding-top: 4px;
 }
 .spanPrice{
  
  font-size: 26px;
 }
 

 
}


}
.midSpan{
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  border-left: 1px solid rgba(128, 128, 128, 0.5);
}

.calender{
  margin: 15px auto;
  width: 35%;
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.header{
  margin-right: 60%; 
  background: linear-gradient(90deg, rgba(50, 200, 20, 0.4)0%,rgba(224, 224, 15, 0.4) 50%, rgba(20, 146, 200, 0.4) 100% );
  width: 90%;
  height: 100px;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  padding-left: 90px;


}
.innerContainer{
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8;
}

.spanContent{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
}

.headerButtons{
  display: flex;
  justify-content: flex-end;
  gap: 10;
  margin-left:auto;
  
}

.toggle{
display: none;
background: none;
position: absolute;
right: 10;
top: 2;
color: white;
}
@media (min-width: 950px){
.span{
  width: 32%;
}
}

@media(max-width: 950px){

  .headerButtons{
    flex-direction: column;
    background-color: white;
    width: fit-content;
    margin-top: 220px;
    display: none;

  }
  .title{
    font-size: 20px;
  }
  .categories{
    flex-direction: column;
width: 100%;
height:500px ;
}
  .span{
    height: 150px;
    display: flex;
    align-items: center;
  }
  .toggle{
    display: block;
    font-size: 36px;
border: none;
background: none;
  }
.active{
  display: flex;
}
}
 */




.container{
  text-align: center;
  position: relative;
  margin: auto ;
  border: none;
  border-radius: 8px;
padding-top: 60px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;  
}
.totalSpent{
  margin-bottom: 50px;
  margin-top: 150px;
  background: linear-gradient(90deg, rgba(48, 255, 203, 0.6), rgba(29, 29, 255, 0.599));
  height: 150px;
  border-radius: 8px;
  display: flex;

padding-top: 20px;
  justify-content: center;
  flex-direction: column;
  .headerText{
    font-size: 25px;  
    padding-top: 50px;
color: white;
font-weight: bold;
margin-bottom: 0px;


  }
  .p{
    color: white;
    font-size: 64px;
    padding-bottom: 20px;
    margin-top: 0px;
    font-weight: bold;
  }
}

.categories
{
  font-weight: bold;
  margin: auto auto 50px auto;
  height: 100px;
display: flex;
gap: 20px;  
}
/* .span{
 height: 120px;
 padding-top: 30px;
 padding-bottom: 30px;
 background: #ffffff;
 border-radius: 8px;
 padding-left: 30px;
 border: none;
 box-shadow: 0.1px 0.1px 5px gray ;
 margin-right: auto;
 margin-left: auto;
 margin-top: 20px;
 .spanHeader{
  padding-top: 4px;
 }
 .spanPrice{
  
  font-size: 26px;
 }
 

 
}


} */
.title{
  margin-bottom: 0px;
}

.span{
 height: 120px;
  padding-left: 30px;
  background: #ffffff;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0.1px 0.1px 5px gray ;  
display: flex;
align-items: center;
justify-content: flex-start;


}


.spanHeader{
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: gray;
  margin:0;
}
.spanPrice{
  padding-left: 20px;
  font-size: 26px;
  font-weight: bold;
  margin:0;
} 


.span:hover{
box-shadow: 2px 2px 5px gray;
transform: scale(1.02);
transition: .3s ease;
}


.wallet{
  text-align: center;
  margin-top: 10px;
  color: white;
  margin: auto;
  border: 3px solid white; 
  position: absolute;
  left: 20;
  top: 40;
}
.header{
  height: 100px;
  width: 90%;
  padding: 10px;
  display: flex;
  padding-left: 90px;
  margin-right: 200px;


}
.innerContainer{
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8;
}

.spanContent{

  margin-left: 20px;

}

.headerButtons{
  display: flex;
  justify-content: flex-end;
  gap: 10;

}

.mobileMenu{

  margin-left: auto;
  width: 20%;
  margin-right: 10px;
}

.toggle{
display: none;
background: none;
color: white;
margin-left: auto;
position: absolute;
right: 10;
top: 40;

}
@media (min-width: 950px){
.span{
  width: 100%;
}
}

@media(max-width: 950px){

  
  .headerButtons{
    flex-direction: column;
    background-color: white;
    width: fit-content;
    margin-top: 250px;
    display: none;
    margin-right: 40px;

  }
  .title{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .categories{
    flex-direction: column;
width: 100%;
height:500px ;
}
  /* .span{
    height: 150px;
    display: flex;
    align-items: center;
  } */
  .toggle{
    display: block;
    font-size: 36px;
border: none;
background: none;
  }
.active{
  display: flex;
}
}

.welcomeBack{
  font-size: 20px;
  color: gray;
  margin-top: 10px;
}
